<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Meet the team</h2>
			<p>Established in 2016, The Bakery currently consists of {{ site.categories.teamMembers | size }} members. Click on their names to find out more about them and the projects they currently have in the oven...</p>
		</header>

		{% assign people = site.categories.teamMembers limit:site.tiles-count | sort: 'date'  %}
		{% for post in people %}{% if site.tiles-source == 'posts' %}
		<section class="spotlight" onclick="location.href='{{ site.url }}/people.html#{{ post.title }}';">
			<div class="image">{% if post.image %}<img src="{% if site.featured-image-source %}{{ post.image | prepend: site.featured-image-source | absolute_url }}{% else %}{{ "" | absolute_url }}/assets/images/{{ post.image }}{% endif %}" alt="" />{% endif %}</div>
			<div class="content">
				<h2>{{ post.title }}</h2>
				<p>{{ post.home-page-blurb }}</p>
			</div>
		</section>
		{% endif %}{% endfor %}
		
		{% assign alumni = site.categories.alumni limit:site.tiles-count | sort: 'date'  %}
		{% for post in alumni %}{% if site.tiles-source == 'posts' %}
		<section class="spotlight" onclick="location.href='{{ site.url }}/people.html#{{ post.title }}';">
			<div class="image">{% if post.image %}<img src="{% if site.featured-image-source %}{{ post.image | prepend: site.featured-image-source | absolute_url }}{% else %}{{ "" | absolute_url }}/assets/images/{{ post.image }}{% endif %}" alt="" />{% endif %}</div>
			<div class="content">
				<h2>{{ post.title }}</h2>
				<p>{{ post.home-page-blurb }}</p>
			</div>
		</section>
		{% endif %}{% endfor %}
		
		{% for page in site.pages limit:site.tiles-count %}{% if site.tiles-source == 'pages' %}{% if page.layout == 'default' %}{% continue %}{% endif %}
		<section class="spotlight">
			<div class="image">{% if page.image %}<img src="{% if site.featured-image-source %}{{ page.image | prepend: site.featured-image-source | absolute_url }}{% else %}{{ "" | absolute_url }}/assets/images/{{ page.image }}{% endif %}" alt="" />{% endif %}</div>
			<div class="content">
				<h2><a href="" class="link">{{ page.title }}</a></h2>
				<p>{{ page.home-page-blurb }}</p>
			</div>
		</section>
		{% endif %}{% endfor %}

<!--
		<ul class="features">
			<li class="icon fa-bug">
				<h3>Nasty bugs</h3>
				<p>You go squish now.</p>
			</li>
			<li class="icon fa-laptop">
				<h3>Computer</h3>
				<p>Beep bop beep.</p>
			</li>
			<li class="icon fa-code">
				<h3>Code</h3>
				<p>I've been known to do this.</p>
			</li>
			<li class="icon fa-headphones">
				<h3>Muzak</h3>
				<p>Very important.</p>
			</li>
			<li class="icon fa-heart-o">
				<h3>Science</h3>
				<p>I love it.</p>
			</li>
			<li class="icon fa-flask">
				<h3>Lab</h3>
				<p>I have a lab where we do lab stuff.</p>
			</li>
		</ul>
--->

	</div>
</section>
