<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Mission Statement</h2>
			<p>We apply principles and knowledge from traditional microbiology, disease ecology and epidemiology creatively to real world problems largely through microbial genomics and laboratory experimentation in an impactful and timely manner.
			<br/><br/>More specific details on projects and outputs can be found on our <a href="{{ site.url}}/people.html"> people</a> and <a href="{{ site.url}}/news.html">lab news</a> pages and on <a href=<a href="https://scholar.google.co.uk/citations?user=KigrV9gAAAAJ&hl=en">google scholar</a>. 
			</p>
		</header>
		<ul class="icons major">
			<li><span class="icon fa-bug major style1"><span class="label">bug</span></span>
			</li>
			<li><span class="icon fa-flask major style2"><span class="label">lab</span></span>
			</li>
			<li><span class="icon fa-laptop major style3"><span class="label">compute</span></span>
			</li>
		</ul>
	</div>
</section>
